<!-- search form -->
<%= form_tag '/search', method: 'get' do %>
  <%= label_tag "search" %>
  <%= text_field_tag :name %>
  <%= submit_tag "search" %>
<% end %>

<% @categories.each do |cat| %>
  <ul style="list-style-type: none ">
    <li><h3><%= cat.name %></h3></li>
    <% post_count = 0 %>
    <% @posts.each do |post| %>
      <% if post.category_id == cat.id %>
        <h3><%= link_to post.title, post %></h3>
        <p>Category <%= post.category_id %></p>
        <p><%= link_to image_tag(post.image, class:'posts-image'), post %></p>
        <p><%= post.content[0...50]+"..." %></p>
        <br>
        <% post_count +=1 %>
      <% end %>
    <% break if post_count == 3 %>
    <% end %>
  </ul>
<% end %>
