<!DOCTYPE html>
<html>
<head>
  <title>Trekabilly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Google Map -->
<!--   <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js" %> -->

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
</head>

<body> 

<!-- Header
=================== -->
<header class="row">
    <!-- logo -->
  <%= link_to image_tag('logo.png', class:'logo col s12 m5 l3'), root_path %> 
  <nav class="white">
    <!-- search -->
    <div class="nav-wrapper col s12 m5 l5 offset-l4" style="height: 120%;">
      <ul class="right">
      
        <li style="height:64px;" class="no-hover">

        <!-- Devise -->
          <div class="col s12 m12 l12 navbar-text pull-right">
            <% if user_signed_in? %>
              <a class="dropdown-button deep-purple-text text-darken-2" href="#" data-hover="true" data-activates="dropdown"><strong>Hi <%= current_user.first_name.capitalize %></strong>!</a>
              <ul id="dropdown" class="dropdown-content">
                <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
              </ul>
            <% else %>
              <div class="sign-up-tab">
                <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link btn-flat transparent modal-trigger', 'data-target' => '#modal-signup'  %> |
                <%= link_to "Login", new_user_session_path, :class => 'navbar-link btn-flat transparent modal-trigger', 'data-target' => '#modal-login'  %>
              </div>
            <% end %>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class=""><%= image_tag("heroshot-xl.jpg", class:'col l12 responsive-img hero', :alt => "Trekabilly")%></div>


<div class="container col s10 m10 l12 hero-search">
  <div class="row">
    <div class="input-field grey lighten-5">
        <!-- search form -->
      <form action="/search" accept-charset="UTF-8" method="get">
        <input name="utf8" type="hidden" value="✓" required>
          <input type="text" name="name" id="name" placeholder="Search by Activities or by Category">
            <button class="btn-flat" type="submit" name="action" for="search"><i class="material-icons index">search</i></button>
        <!-- <input type="submit" name="commit" value="search"> -->
      </form>   
    </div>
  </div>
</div>

<div class="row">
  <div class=" col l10 offset-l1">
    <% @categories.each do |d| %>
    <% end %>
  </div>
</div>

<!-- Center index statement -->
<div class="container col l12 index-block">
  <h1 class="headline col s12 center">Why Trekabilly?</h1>
    <p class="center indexp">Don’t let a guide dictate your trip. <br>Search Trekabilly to find hidden gems and hot tips about tourist locations- all in the same place.</p>
  <h2 class="sub-head center">Browse some of our categories</h2> 
</div>

<div class="row">
  <div class="col l10 offset-l1">
  <!-- cyles through all he categories -->
    <% @categories.each do |cat| %><!--loops through all the categories and places them in the cat variable-->
      
      <h3 class="category-names"><%= cat.name %><%= image_tag cat.icon, class:'icon-large' %></h3><!--grabs all the variable of cats' names-->
        <% post_count = 0 %><!--iterator count that starts at zero-->
        <% @posts.each do |post| %><!--loops through all posts and assigns a variable of post to them-->
          <% if post.category_id == cat.id %><!--if the category_id in the posts table matchs the variable cats' id run the following script-->
            <div class=" col s10 m5 l3 offset-s1 offset-m1">
              <div class="card">
                <%= image_tag cat.icon, class:'icon' %>
                <div class="card-image">
                  <%= link_to image_tag(post.image, class:'posts-image results-image responsive-img'), post %>
                  <span class="card-title"><%= link_to post.title, post, class:'title shadow' %>
                  <div class="shadow"></div>
                  </span>
                </div>
                <div class="card-content">           
                  <p class="p"><%= link_to post.content, post, class:'post-text' %></p>
                </div>
              </div>  
                <!-- <p>Category <%= post.category_id %></p> -->
            </div>
            <% post_count +=1 %> <!--adds a to the counter ever loop cycle-->
          <% end %>
        <% break if post_count == 4 %><!--breaks the counter as soon as we have 3 posts-->
      <% end %>
      <br>
    <% end %>
    <br>
  </div>
</div>

</body>
</html>