<h1>Trekabilly</h1>
  <% @categories.each do |cat| %>
    <ul>
      <li><%= cat.name %></li>
      <% @posts.each do |post| %>
        <% if post.category_id == cat.id %>
          <ul style="list-style-type: none ">
            <li><h3><%= post.title %></h3></li>
            <li>Category <%= post.category_id %></li>
            <li><img src="<%= post.image %>" style="width: 100px; height: auto"></li>
            <li><%= post.content %></li>
          </ul><br>
        <% end %>
      <% end %>
    </ul>
  <% end %>
