
<style>
	body {
		padding-left: 40px;

	}
	li {
	/*	width: 33%;
		float: left;*/
		list-style-type: none;
	}
	#post {
		width: 33%;
		float: left;
	}
	img {
		width: 200px;
		height: 150px;
	}

</style>


<%= form_tag '/search', method: 'get' do %>
  <%= label_tag "search" %>
  <%= text_field_tag :name %>
  <%= submit_tag "search" %>
<% end %>
<div class="set" id="map-canvas" style="width: 100%; height: 400px; background-color: #CCC "></div>
<% @locations.each do |l| %>
  <% @results.each do |r| %>
    <% if r.location_id == l.id %>
      <div id = 'post'>
        <%= hidden_field(:l, :address, :value => l.address) %>
        <%= hidden_field(:l, :city, :value => l.city) %>
        <%= hidden_field(:l, :location_name, :value => l.location_name) %>
        <h3><%= link_to r.title, r %></h3>
        <li><%= link_to image_tag(r.image), r %></li>
      </div>
    <% end %>
  <% end %>
<% end %>
