<div class="row">
  <nav>
    <div class="nav-wrapper" style="height: 120%;">
    <!-- logo -->
    <%= link_to image_tag('logo.png', class:'logo col s11 m5 l3'), root_path %>
    <!-- search -->
      <ul class="right col s12 m5 l4 offset-l4 grey lighten-5">
        <li><form action="/search" accept-charset="UTF-8" method="get">
          <div class="input-field right col l12">
            <input name="utf8" type="hidden" value="✓" required>
            <input type="text" name="name" id="search">
            <label for="search" id="search"></label>
            <i class="material-icons right">search</i>
          </div>
        </form></li>
        <li><%= link_to "Previous Page", :back, class:'col l12 previous grey lighten-5 deep-purple-text text-darken-2' %></li>
      </ul>
    </div>
  </nav>
</div>


<div class="row">
  <!-- google map -->
  <div class="set col l12" id="map"></div>
  <div class="col s12 l12 offset-l1">
    <h1 class='headline'><%= @post.title %></h1>
    <h2 class='sub-head'>From <%= @category.name.capitalize %> Category</h2>
  </div>
</div>
<div class="post-info row">
  <%= image_tag(@post.image, :class => 'post-image col s12 l5 offset-l1') %> 
  <!-- conditions for location fields -->
  <div id="location-info" class="col s12 l5">
    <h2 class="sub-head" id="location-name"><%= @location.location_name %></h2>
    <% if @location.location_notes %>
      <p><%= @location.location_notes %></p>
    <% end %>
    
    <!-- what kind of address are we using? -->
    <% if @location.cross_st1 && @location.cross_st2 %>
      <p id="cross-streets">Between: <%= @location.cross_st1 %> and <%= @location.cross_st2 %>, <%= @location.city %> <%= @location.state %></p>
    <% else %>
      <p id="address"><%= @location.address %>, <%= @location.city %> <%= @location.state %></p>
    <% end %>

    <% if @location.phone %>
      <p>Business Phone: <%= @location.phone %></p>
    <% end %>

    <% if @location.website %>
      <p>Website: <%= @location.website %></p>
    <% end %>
    <p id="post-content" class="col"><%= @post.content %></p>
  </div>
</div>


<!-- show similar categories -->
<div class="row">
  <div class="col l10 offset-l1">
  <h2 class="sub-head col s10 m10 l11 offset-s1 offset-m1">You might also like...</h2>
    <% @posts.each do |post| %>
      <% if post.category_id == @category.id %>
        <div class="recommend-post col s10 m4 l3 offset-s1 offset-m1">
          <div class="card">
            <div class="card-image">
              <%= link_to image_tag(post.image, class:'posts-image results-image responsive-img'), post %>
              <span class="card-title"><%= link_to post.title, post, class:'title' %>
              </span>
            </div>
            <div class="card-content">
            <p class="p"><%= post.content[0...50]+"..." %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



<script type="text/javascript">
  $('body').ready(function(){
  if ($('#map')){
    initialize();

    var results;
    var address;
    var address2 = [];

    function initialize(){
       // grabbing address from location input
      if ($('#address').html()) {
        address = $('#address').html();
      } else if ($('#cross-streets').html()){
        address = $('#cross-streets').html();
      } else if ($('#l_address').val()){
        address2.push($('#l_address').val()+ ", " + $('#l_city').val());
        for(i = 0; i < address2.length; i++){
          address = address2[i];
        };
      };

      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({ 'address': address}, function(results, status){

        if (status == google.maps.GeocoderStatus.OK){
        var mapOptions = {
          // use current location as the center
          center: new google.maps.LatLng(results[0].geometry.location),
          zoom: 15,
          styles: [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7dcdcd"}]}],
          mapTypeId: google.maps.MapTypeId.ROADMAP
          };

          var map = new google.maps.Map($('#map')[0], mapOptions);
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
        } else {
          console.log("Geocode was not successful for the following reason: " + status);
        }
      });
    } 
  }
});
</script>




