<div id="content">
  <h3><%= @category.name %></h3>
  <h1><%= @post.title %></h1>
  <div class="location">
    <!-- google map -->
    <div class="set" id="map" style="width: 400px; height: 250px; background-color: #CCC"></div>
    <!-- conditions for location fields -->
    <div id="location-info">
      <h2 id="location-name"><%= @location.location_name %></h2>
      <% if @location.location_notes %>
        <p><%= @location.location_notes %></p>
      <% end %>
      
      <!-- what kind of address are we using? -->
      <% if @location.cross_st1 && @location.cross_st2 %>
        <p id="cross-streets">Between: <%= @location.cross_st1 %> and <%= @location.cross_st2 %>, <%= @location.city %> <%= @location.state %></p>
      <% else %>
        <p id="address"><%= @location.address %>, <%= @location.city %> <%= @location.state %></p>
      <% end %>

      <% if @location.phone %>
        <p>Business Phone: <%= @location.phone %></p>
      <% end %>
      <% if @location.website %>
        <p>Website: <%= @location.website %></p>
      <% end %>
    </div>
  </div>
  <div id="post-info">
    <%= image_tag(@post.image, :class => "post-image") %> 
    <p id="post-content"><%= @post.content %></p>
  </div>

  <!-- show similar categories -->
  <h3>Posts you might like...</h3>
  <% post_count = 0 %>
  <% @posts.each do |post| %>
    <div class="recommend-post">
      <% if post.id != @post.id %>
        <h3><%= link_to post.title, post %></h3>
        <p>Category <%= post.category_id %></p>
        <p><%= link_to image_tag(post.image, class:'posts-image results-image'), post %></p>
        <p><%= post.content[0...50]+"..." %></p>
      <% else %>
        <% break %>
      <% end %>
    </div>
    <% post_count +=1 %>
    <% break if post_count == 3 %>
  <% end %>
</div>
<script type="text/javascript">
  $('body').ready(function(){
  if ($('#map')){
    initialize();

    var results;
    var address;
    var address2 = [];

    function initialize(){
       // grabbing address from location input
      if ($('#address').html()) {
        address = $('#address').html();
      } else if ($('#cross-streets').html()){
        address = $('#cross-streets').html();
      } else if ($('#l_address').val()){
        address2.push($('#l_address').val()+ ", " + $('#l_city').val());
        for(i = 0; i < address2.length; i++){
          address = address2[i];
        };
      };

      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({ 'address': address}, function(results, status){

        if (status == google.maps.GeocoderStatus.OK){
        var mapOptions = {
          // use current location as the center
          center: new google.maps.LatLng(results[0].geometry.location),
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
          };

          var map = new google.maps.Map($('#map')[0], mapOptions);
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
        } else {
          console.log("Geocode was not successful for the following reason: " + status);
        }
      });
    } 
  }
});
</script>




